<h1 class="welcome">Welcome to the Daily Planet!</h1>

<a class="sweetarticles" href="/articles">Check out my sweet articles</a>

<script>
  $('[type=button]').on('click', function(e) {
    e.preventDefault();
    var updateUrl = $(this).parent().attr('action');
    var articlesData = $(this).parent().serialize();
    $.ajax({
      method: 'PUT',
      url: updateUrl,
      data: articlesData
    }).done(function(data) {
      // get data returned from the PUT route
      console.log(data);
    });
  });
</script>